nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #013332;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background: white;
    margin: 5px;
}

@media (max-width: 780px) {
    .hamburger {
        display: flex;
        padding-right: 20px;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #013332f3;
        width: 100%;
        text-align: center;
    }
    nav ul.active {
        display: flex;
    }
    nav ul li {
        padding: 15px 0;
    }
}
